<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/static/favicons.ico" type="image/x-icon" />
    <title>Запись абитуриентов на очное собеседование</title>
  </head>
  <body>
    <nav class="light-blue darken-3">
      <div class="nav-wrapper" style="padding: 0 20px">
        <a href="/" class="brand-logo">Запись абитуриентов</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/add/"> Подать заявку </a>
          </li>
          <li>
            <a href="https://abitstat.kantiana.ru/" target="_blank">
              Пофамильные списки лиц, подавших документы в БФУ им. И. Канта
            </a>
          </li>
          <li>
            <a href="https://kantiana.ru/" target="_blank">БФУ имени Канта</a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li>
        <a href="/add/"> Подать заявку </a>
      </li>
      <li>
        <a href="https://abitstat.kantiana.ru/" target="_blank">
          Пофамильные списки
        </a>
      </li>
      <li>
        <a href="https://kantiana.ru/" target="_blank">БФУ имени Канта</a>
      </li>
    </ul>

    <div class="container">
      <h4>Запись абитуриентов на очное собеседование</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="fio" type="text" />
          <label for="fio">ФИО</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">date_range</i>
          <input type="text" class="datepicker" id="datepicker" />
          <label for="fio">Желаемая дата собеседования</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">access_time</i>
          <input type="text" class="timepicker" id="timepicker" />
          <label for="fio">Желаемое время собеседования</label>
        </div>
      </div>
      <button
        class="btn waves-effect waves-light right"
        type="button"
        id="submit"
      >
        Отправить заявку
        <i class="material-icons right">send</i>
      </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      let timeData = { hours: 0, minutes: 0 }
      let dateData = null
      let success = true

      document.addEventListener('DOMContentLoaded', async () => {
        var elems = document.querySelectorAll('.sidenav')
        var instances = M.Sidenav.init(elems, {})

        const resp = await fetch(location.origin + '/api/date/')
        const data = await resp.json()

        const delems = document.querySelectorAll('.datepicker')
        const dinstances = M.Datepicker.init(delems, {
          onSelect(date) {
            dateData = date
          },

          // onCloseEnd() {
          //   for (const el of data.date) {
          //     const d = new Date(el.datetime)

          //     if (
          //       d.getMinutes() === timeData.minutes &&
          //       d.getHours() === timeData.hours &&
          //       d.getDate() === dateData.getDate() &&
          //       d.getMonth() === dateData.getMonth() &&
          //       d.getFullYear() === dateData.getFullYear()
          //     ) {
          //       success = false
          //       return M.toast({
          //         html: '<b>Это время уже забронировано</b>',
          //         classes: 'red darken-3',
          //       })
          //     } else {
          //       success = true
          //     }
          //   }
          // },

          i18n: {
            months: [
              'Январь',
              'Февраль',
              'Март',
              'Апрель',
              'Май',
              'Июнь',
              'Июль',
              'Август',
              'Сентябрь',
              'Октябрь',
              'Ноябрь',
              'Декабрь',
            ],
            monthsShort: [
              'Янв',
              'Фев',
              'Март',
              'Апр',
              'Май',
              'Июнь',
              'Июль',
              'Авг',
              'Сент',
              'Окт',
              'Нояб',
              'Декаб',
            ],
            weekdays: [
              'Воскресенье',
              'Понедельник',
              'Вторник',
              'Среда',
              'Четверг',
              'Пятница',
              'Суббота',
            ],
            weekdaysShort: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Воскр'],
            weekdaysAbbrev: ['Пн', 'В', 'Ср', 'Ч', 'Пт', 'Сб', 'В'],
            cancel: 'Отмена',
          },
        })

        const telems = document.querySelectorAll('.timepicker')
        const tinstances = M.Timepicker.init(telems, {
          vibrate: true,
          twelveHour: false,
          cancel: 'Отмена',

          onSelect(hours, minutes) {
            timeData = { hours, minutes }
          },

          // onCloseEnd() {
          //   for (const el of data.date) {
          //     const d = new Date(el.datetime)

          //     if (
          //       d.getMinutes() === timeData.minutes &&
          //       d.getHours() === timeData.hours &&
          //       d.getDate() === dateData.getDate() &&
          //       d.getMonth() === dateData.getMonth() &&
          //       d.getFullYear() === dateData.getFullYear()
          //     ) {
          //       success = false
          //       return M.toast({
          //         html: '<b>Это время уже забронировано</b>',
          //         classes: 'red darken-3',
          //       })
          //     } else {
          //       success = true
          //     }
          //   }
          // },
        })
      })

      document.getElementById('submit').addEventListener('click', async () => {
        const fio = document.getElementById('fio').value

        if (validate(!fio.trim(), '<b>Введите ФИО</b>')) return
        if (validate(!dateData, '<b>Введите желаемую дату собеседования</b>'))
          return
        if (
          validate(
            !timeData.hours,
            '<b>Введите желаемое время собеседования</b>'
          )
        )
          return
        if (validate(!success, '<b>Это время уже забронировано</b>')) return

        dateData.setHours(timeData.hours)
        dateData.setMinutes(timeData.minutes)

        const resp = await fetch(location.origin + '/api/add/', {
          method: 'post',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            fio,
            datetime: dateData,
          }),
        })
        const data = await resp.json()

        if (resp.ok && data.success) {
          return M.toast({
            html: 'Вы успешно подали заявку!',
            classes: 'teal accent-4',
          })
        }

        M.toast({
          html: data.detail,
          classes: 'red darken-3',
        })
      })

      function validate(cond, html) {
        if (cond) {
          M.toast({
            html,
            classes: 'red darken-3',
          })
          return true
        }
        return false
      }
    </script>
  </body>
</html>
