<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />
    <link rel="shortcut icon" href="/static/favicons.ico" type="image/x-icon"/>
    <title>Запись абитуриентов на очное собеседование</title>
    <style>
      .container {
        width: 100%;
      }


    </style>
</head>
<body>
<nav class="light-blue darken-3">
    <div class="nav-wrapper" style="padding: 0 20px">
        <a href="/" class="brand-logo">Запись абитуриентов</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/add/"> Подать заявку </a>
            </li>
            <li>
                <a href="https://abitstat.kantiana.ru/" target="_blank">
                    Пофамильные списки лиц, подавших документы в БФУ им. И. Канта
                </a>
            </li>
            <li>
                <a href="https://kantiana.ru/" target="_blank">БФУ имени Канта</a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="https://abitstat.kantiana.ru/" target="_blank">
            Пофамильные списки
        </a>
    </li>
    <li>
        <a href="https://kantiana.ru/" target="_blank">БФУ имени Канта</a>
    </li>
</ul>

<div>
    <h4 style="margin-left: 8px">Запись абитуриентов на собеседование</h4>
    <div class="row">
        {% for date in arr %}

        <div class="col s2">
            <h6>{{date.date}}</h6>
            {% for t in date.time %} {% if t.quantity == 0 %}
            <div class="teal darken-3" style="padding: 8px; margin-bottom: 6px">
                <p class="white-text">
                    <b>{{t.start_time}}</b> - <b>{{t.end_time}}</b>
                </p>
                <p class="white-text">Свободных мест - нет</p>
                <button
                        class="btn waves-effect waves-light light-blue darken-1 disabled"
                        onclick="openModal('{{date.date}}', '{{t.start_time}}')"
                >
                    Записаться
                    <i class="material-icons right">send</i>
                </button>
            </div>
            {% else %}
            <div class="teal darken-1" style="padding: 8px; margin-bottom: 6px">
                <p class="white-text">
                    <b>{{t.start_time}}</b> - <b>{{t.end_time}}</b>
                </p>
                <p class="white-text">Колличество мест - <b>{{t.quantity}}</b></p>
                <button
                        class="btn waves-effect waves-light light-blue darken-1"
                        onclick="openModal('{{date.date}}', '{{t.start_time}}')"
                >
                    Записаться
                    <i class="material-icons right">send</i>
                </button>
            </div>
            {% endif %} {% endfor %}
        </div>

        {% endfor %}
    </div>
</div>

<div id="choose-modal" class="modal">
    <div class="modal-content">
        <h4 id="modal-title"></h4>
        <div class="input-field" style="margin-top: 30px">
            <input id="fio" type="text"/>
            <label for="fio">Введите ФИО</label>
        </div>
    </div>
    <div class="modal-footer">
        <a
                href="#"
                class="modal-close waves-effect waves-green btn-flat"
                onclick="send()"
        >Записаться</a
        >
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
      let data = {}

      window.addEventListener('resize', function (event) {
        // console.log(window.innerWidth)
      })

      document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal')
        var instances = M.Modal.init(elems, {})
      })

      function openModal(date, time) {
        data = { date, time }
        document.getElementById(
          'modal-title'
        ).innerHTML = `Запись на ${date} в ${time}`
        M.Modal.getInstance(document.getElementById('choose-modal')).open()
      }

      async function send() {
        const fio = document.getElementById('fio').value

        if (!fio.trim()) {
          return M.toast({ html: 'Введите ФИО', classes: 'red darken-4' })
        }

        const resp = await fetch(location.origin + '/api/add', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            fio,
            ...data,
          }),
        })
        const _data = await resp.json()

        if (resp.ok && _data.success) {
          M.toast({
            html: 'Вы успешно записались на приём',
            classes: 'teal accent-4',
            completeCallback() {
              location.reload()
            },
          })
        } else
          M.toast({
            html: 'Ошибка сервера',
            classes: 'red darken-4',
          })
      }


</script>
</body>
</html>
